{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <div class="card" style = "width: 80%;border: 1px solid black;margin-left: 55%; margin-top:20%; box-shadow: -2px 2px 10px 2px;">
      <div class="card-body">
        <center>
        <h2>Welcome, {{ user }}</h2>
        <p>&nbsp;</p>
        <a href="{% url 'logout' %}" class="btn btn-success ">Logout</a>

        <center>
          <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>




{% endblock %}
