{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%  block content%}



<div class = "container-fluid">
  <div class = "row-content">


<div class = "col-sm-8">

  <div class="w3-card-8" style="width:90%; margin-left: 25%; margin-top:10%; box-shadow: -2px 2px 10px 2px;">
  <header class="w3-container" style = "background-color: #2c2c30; color:white;">
    <h1>Register</h1>
  </header>

  <div class="w3-container">
<center>
    <form method = 'post'>
    {% csrf_token %}

  <div class = "form-row">
    <div class="form-group col-md-12 mb-0">
    {{ form|crispy }}
    </div>
  </div>






    <button class = "btn btn-success" type = "submit">Signup</button>

    </form>
    </center>
<p>&nbsp;</p>

<p>Already registered. Go to <a href = "{% url 'login' %}" style = "color:blue;">login</a> page</p>
  </div>
</div>



</div>

</div>
</div>


{% endblock %}
